<form class="" action="/register" method="post">
      <input type="text" name="username" value="" placeholder="username">
      <input type="password" name="password" value="" placeholder="********">
      <button type="submit" name="button">Login</button>
    </form>
